/* General styles */

p {
  font-family: "Source Sans 3", sans-serif;
  font-size: 1.125rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans 3", sans-serif;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.375rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

h5,
h6 {
  font-size: 1rem;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 140px;
}

/* Navbar */

.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 3rem;
}

.nav-name {
  font-family: "Open Sans", sans-serif;
  color: #1a1b1f;
  opacity: 0.6;
  font-weight: 600;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
}

.nav-links li {
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  margin: 0 2rem;
  font-weight: 300;
}

.nav-links a {
  color: #1a1b1f;
  opacity: 0.6;
  text-decoration: none;
}

/* Hero */

.main-image-text {
  background-image: url(./assets/main-background.jpeg);
  height: 85vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: 50% 75%;
  display: flex;
  justify-content: center;
}

.main-image-text p {
  position: absolute;
  top: 25%;
  font-family: "Source Sans 3", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  width: 40%;
}

/* Work Section */

.my-work-section {
  padding: 3rem;
}

.my-work-header {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.my-works {
  display: flex;
  justify-content: space-between;
  height: 460px;
}

.projects {
  width: 30%;
}

.projects h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
}

.projects.ux {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./assets/ux-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.projects.industrial {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./assets/industrial-design-background.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.projects.personal {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./assets/personal-project-background.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

/* Contact form section */

.contact-form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form {
  margin-top: 2rem;
}

label {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

input {
  font-family: "Open Sans", sans-serif;
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  width: 100%;
  padding: 0.75rem 1rem;
  margin-top: 0.25rem;
  font-weight: 300;
}

input[type="submit"] {
  font-weight: 700;
  width: 50%;
}

textarea {
  font-family: "Open Sans", sans-serif;
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  width: 100%;
  padding: 0.75rem 1rem;
  margin-top: 0.25rem;
}

.contact-name,
.contact-email,
.contact-message,
.contact-submit {
  margin-bottom: 1.5rem;
}
.contact-submit {
  text-align: center;
}

/* Footer */

.footer-link {
  padding: 1.5rem 3rem;
}

.footer-link ul {
  display: flex;
  justify-content: flex-end;
}

.footer-link li {
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  color: #1a1b1f;
  opacity: 0.6;
  margin: 0 2rem;
  font-weight: 300;
}
